body{
 
  scroll-behavior: smooth;
}

label{
  font-weight: 500;
}

@media(max-width:768px) {

.home-btn button{
  margin-top: 10px;
  font-size: 13px;
}

.card button{
 
  font-size: 13px;
  margin: 10px 5px;
 
}

tbody{
  font-size: 12px;
}
th{
  font-size: 15px;
  padding: 0px 5px;
}



}
